@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 30px;
}
.documents {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}
.search {
  font-size: 13px;
  font-weight: bold;
}
.container {
  display: flex;
  //max-width: 100%;
  font-family: arial, sans-serif;

  .sidenav {
    width: auto;
    .menu {
      text-align: left;
    }
    li {
      list-style-type: none;
    }
    .menu a {
      display: inline-block;
      padding: 10px;
    }
    .menu a:hover {
      background-color: #eee;
    }
    .active {
      font-weight: bold;
    }
  }
  .mainContent {
    //width: 80%;
    .example-form-field {
      width: 100%;
    }
    .card-section {
      display: flex;
      flex-flow: row wrap;
      gap: 10px;
      .card-layout {
        width: 250px;
        height: 80px;
        border-radius: 10px;

        padding: 0;
        margin: 0;
        .header-text {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          height: 50px;
          .category {
            //width: 100%;
            height: 50%;
            border-radius: 50px;

            padding: 0 10px 0 10px;
            margin-top: 10%;
            &.technical {
              background-color: slategray;
            }
            &.human {
              background-color: silver;
            }
            &.financial {
              background-color: aqua;
            }
            &.marketing {
              background-color: beige;
            }
            .category-text {
              font-family: sans-serif;
              font-size: 13px;
              font-weight: normal;
            }
          }
        }
        .content {
          justify-content: center;
          display: flex;
          .headerContent {
            font-weight: bold;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .container {
    flex-direction: column !important;
  }
  .sidenav {
    width: 100%;
  }
  .menu {
    display: flex;
  }
}
